# Ignore some JSON files
player.json
offline_account.json
settings.json
# Ignore Local Version
version

# Ignore the Minecraft runtime directory
.minecraft/

# Ignore instances directory (for launcher instances)
instances/

# Ignore virtual environment
.venv/

skins/

.idea/

dist/

.git/

.idea/

__pycache__/

authlib-injector.jar

*.pyc